body{
    margin: 0;
    background-color: #F5FDF1;
}

.window{
    position: relative;
    width: 1226px;
    height: 460px;
    margin: 70px auto 0;
    overflow: hidden;
}
.images{
    display: flex;
    transition: all 1s;
}
.left{
    position: absolute;
    top: 45%;
    left: 1%;
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    padding: 10px;
}
.left:hover,.right:hover{
    background-color: black;
    opacity: 0.6;
}
.right{
    position: absolute;
    top: 45%;
    right: 1%;
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    padding: 10px;
}
ul{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
ul  li{
    list-style: none;
    display: inline-block;
    width: 25px;
    height: 5px;
    background-color: black;
    opacity: 0.6;
    margin-left: 10px;
    cursor: pointer;
}
.select{
    background-color: white;
}
